List

Question - Appending and Removing Elements: Create an empty list called my_list. Append
 the numbers 1, 2, and 3 to my_list. Then remove the number 2 from the list.

In [2]:
# Create an empty list
my_list = []

# Append numbers 1, 2, and 3
my_list.append(1)
my_list.append(2)
my_list.append(3)

# Remove the number 2
my_list.remove(2)

print("Updated list:", my_list)

Updated list: [1, 3]

 Question- Accessing Elements: Create a list called fruits containing the strings "apple",
 "banana", "cherry", "date". Print the second element of the list

In [3]:
# Create a list of fruits
fruits = ["apple", "banana", "cherry", "date"]

# Print the second element
print("Second fruit:", fruits[1])

Second fruit: banana

 Question- Slicing: Create a list called numbers containing the numbers from 1 to 10. Print a
 slice of the list containing elements from the third element to the sixth element

In [4]:
# Create a list of numbers from 1 to 10
numbers = list(range(1, 11))

# Print a slice from the third to the sixth element
print("Sliced list:", numbers[2:6])

Sliced list: [3, 4, 5, 6]

Sets
 Question - Adding and Removing Elements: Create an empty set called my_set. Add the
 numbers 1, 2, and 3 to my_set. Then remove the number 2 from the set

In [10]:

# Create an empty set
my_set = set()

# Add numbers 1, 2, and 3
my_set.add(1)
my_set.add(2)
my_set.add(3)

# Remove the number 2
my_set.remove(2)

print("Updated set:", my_set)

Updated set: {1, 3}

 Question - Operations: Create two sets called set1 and set2, each containing a few
 numbers. Print the union, intersection, and difference of the two sets

In [15]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Print union, intersection, and difference
print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference (set1 - set2):", set1 - set2)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (set1 - set2): {1, 2}

 Tuples
 Question - Accessing Elements: Create a tuple called coordinates containing the latitude
 and longitude of a location (e.g., (40.7128, -74.0060) for New York City). Print the latitude
 and longitude separately

In [16]:
# Create a tuple of coordinates
coordinates = (40.7128, -74.0060)

# Print latitude and longitude separately
print("Latitude:", coordinates[0])
print("Longitude:", coordinates[1])

Latitude: 40.7128
Longitude: -74.006

 Question - Packing and Unpacking: Create a tuple called person containing information
 about a person, such as their name, age, and city. Then unpack the tuple into individual
 variables.

In [17]:
# Create a tuple with person details
person = ("John Doe", 30, "New York")

# Unpack the tuple into variables
name, age, city = person

print("Name:", name)
print("Age:", age)
print("City:", city)

Name: John Doe
Age: 30
City: New York